div {
    font-size: 50px;
    text-align: center;
}

h1 {
    font-size: 120px;
}

span {
    border: 1px solid black;
    color: #fff;
    font-size: 50px;
    padding: 5px;
    border-radius: 5px;
}

span#start {
    background-color: green;
}

span#stop {
    background-color: red;
}
